{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Edit Category</h3>
	  </div>
	  <div class="panel-body">
	    	{{form_start(form)}}
	    	{{form_widget(form)}}
	    	{{form_end(form)}}
	  </div>
	</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
