{% extends 'base.html.twig' %}

{% block body %}
      <div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Welcome</h3>
	  </div>
	  <div class="panel-body">
	    <p>Welcome to EventCalender</p>
	    <a class="btn btn-success" href="/event/create">Create Event</a>
	    <a class="btn btn-primary" href="/category/create">Create Category</a>
	  </div>
	</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
